@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";

@theme {
  --color-gray: #A0A4A8;
  --color-gray-dark: #52575C;
  --color-blue: #336CFB;
  --color-black: #25282B;
  --color-green: #27AE60;
  --color-red: #EB5757;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #F6F8FB;
}

.container {
  @apply max-w-360 mx-auto w-full;
}

.d-flex {
  @apply flex items-center justify-center;
}

.d-between {
  @apply flex items-center justify-between;
}

.d-start {
  @apply flex items-center justify-start;
}

.login-bg {
  background-image: url('/images/login-bg.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
